version: "3"
services:
    web:
        container_name: nginx
        image: nginx
        volumes:
            - ./templates:/etc/nginx/templates
            - ./www:/var/www/html/
            - ./log:/var/log/nginx/
            - ./log:/var/log/ws/
            - ./uploads:/uploads/
            - ./certbot/www/:/var/www/certbot/:ro
            - ./certbot/conf/:/etc/nginx/ssl/:ro
        ports:
            - "80:80"
            - "443:443"
        environment:
            - NGINX_HOST=

    certbot:
        image: certbot/certbot:latest
        volumes:
        - ./certbot/www/:/var/www/certbot/:rw
        - ./certbot/conf/:/etc/letsencrypt/:rw
    db:
        container_name: mysql
        image: mysql:5.7
        environment:
            MYSQL_DATABASE: ws
            MYSQL_USER: user
            MYSQL_PASSWORD:
            MYSQL_ROOT_PASSWORD:
            TZ: Asia/Taipei
        volumes:
            - ./db:/docker-entrypoint-initdb.d
        ports:
            - "8081:3306"
        hostname:
    php:
        build: ./image
        container_name: php
        ports:
            - 9000
        volumes:
            - "./www:/var/www/html/"
            - "./configs/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini"
